<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.jokeview">

    <application>
        <activity android:name=".JokeViewActivity"
            android:parentActivityName="com.udacity.gradle.builditbigger.MainActivity"/>
    </application>

</manifest>